
<%= render "/demo2/header" %>

<% provide(:title, 'New Task') %>
<body style = "margin-top: 50px;">

	<div class="container">

	<div class="main-container">
		
		<div class="row">

			<div class="span4 offset4">
				<%= form_for @task, html: {class: "form-signin"} do |f| %>
					 <h2 class="form-signin-heading">New Task</h2>

					<% if @task.errors.include?(:name) %>
					<div class="form-group has-error">
						<%= f.text_field :name, class:"form-control", html: { id: "inputError"},  placeholder:"Name" %>
					</div>
					<% else %>
					<div class = "form-group">
					 	<%= f.label :name, class: "sr-only" %>

						<%= f.text_field :name, class:"input-block-level", placeholder:"Name" %>
					</div>
					<% end %>

					<% if @task.errors.include?(:description) %>
					<div class="form-group has-error">
						<%= f.text_area :description, class:"form-control", size:"10x5", html: { id: "inputError"},  placeholder:"Description" %>
					</div>
					<% else %>
					<div class = "form-group">
					 	<%= f.label :description, class: "sr-only" %>
						<%= f.text_area :description, class:"form-control", size:"10x5",  placeholder:"Description" %>

					</div>
					<% end %>
					
					<div class = "form-group">
					 	<%= f.label :interest, class: "sr-only" %>
						<%= f.number_field :interest, placeholder: "How interesting is this task?", html: {max:"10", min: "1"}%>

					</div>	
					<div class = "form-group">
					 	<%= f.label :length, class: "sr-only" %>
						<%= f.number_field :length, placeholder: "How many hours will it take?", html: {max:"10", min: "1"}%>

					</div>		
					<div class="form-group">
					  <div id="datetimepicker1" class="input-append date">
					  	<%= f.label :duetime, class: "sr-only" %>

					  	<%= f.text_field :duetime, class: "input-block-level", 'data-format'=> "MM/dd/yyyy HH:mm:ss PP", placeholder: "Due time"%>
					    <span class="add-on">
					      <i style = "height: 50px" data-time-icon="icon-time" data-date-icon="icon-calendar">
					      </i>
					    </span>
					  </div>
					</div>
					<script type="text/javascript">
					  $(function() {
					    $('#datetimepicker1').datetimepicker({
					      language: 'en',
					      pick12HourFormat: true,
					      

					    });
					  });
					</script>
					<div class = "form-group">
					 	<%= f.label :completed, class: "sr-only" %>
						<%= f.hidden_field :completed, value: false %>

					</div>
					<div class = "form-group">
					 	<%= f.label :id, class: "sr-only" %>
						<%= f.hidden_field :id, value: current_user.id %>

					</div>			
							
					
					<%= f.submit "Create Task", class: "btn btn-large btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
	</div>
	</body>
