
<%= render "/demo2/header" %>

<% provide(:title, 'New Task') %>
<style type="text/css">
     

    </style>

    <div id = "wrap">
	<div class="container">

	<div class="main-container">
		
		<div class="row">

			<div class="span4 offset4">
				<%= form_for @task, html: {class: "form-signin"} do |f| %>
					 <h2 class="form-signin-heading">New Task</h2>

					<% if @task.errors.include?(:name) %>
					<div class="form-group has-error">
						<%= f.text_field :name, class:"form-control", html: { id: "inputError"},  placeholder:"Name" %>
					</div>
					<% else %>
					<div class = "form-group">
					 	<%= f.label :name, class: "sr-only" %>

						<%= f.text_field :name, class:"input-block-level", placeholder:"Name" %>
					</div>
					<% end %>

					<% if @task.errors.include?(:description) %>
					<div class="form-group has-error">
						<%= f.text_area :description, class:"form-control", size:"10x5", html: { id: "inputError"},  placeholder:"Description" %>
					</div>
					<% else %>
					<div class = "form-group">
					 	<%= f.label :description, class: "sr-only" %>
						<%= f.text_area :description, class:"form-control", size:"10x5",  placeholder:"Description" %>

					</div>
					<% end %>
					<div class = "form-group">
					 	<%= f.label :duetime, class: "sr-only" %>
						<%= f.number_field :duetime, class: "input", placeholder: "Hours till due"%>

					</div>
					<div class = "form-group">
					 	<%= f.label :completed, class: "sr-only" %>
						<%= f.hidden_field :completed, value: false %>

					</div>
					<div class = "form-group">
					 	<%= f.label :id, class: "sr-only" %>
						<%= f.hidden_field :id, value: current_user.id %>

					</div>					
					
					<%= f.submit "Create Task", class: "btn btn-large btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
	</div>
	</div>
