<html> 
<%= render "header" %>
<% 
#write this up here so as to be more efficient
todo = [];
completed = [];

current_user.tasks.each do |task|
  unless task.completed
    todo.append(task)
  else
    completed.append(task)
  end

  todo.sort_by! {|task| calcTimeEfficiency(task, calcPriority(task))}
  todo.reverse!
  completed.sort_by! {|task| task.duetime}
  completed.reverse!
end 
%>

<body style = "margin-top: 60px">



      <!-- Begin page content -->
<div class="container">
    <div id = "page-block"> <!-- page container-->
      <div class ="main-container">
        <div class="page-header">
          <h2>My Tasks</h2>
        </div>
        <div class="panel panel-default">
        <div class = "accordionHead" id = "accordion3">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionHead" data-target= ".panel-body">
            <div class="panel-heading">
            To Do
            </div>
            </a>
        <div class="panel-body collapse in">

          <div id = "taskcontainer">
                <!--- main task container-->
                <ul class="list-group">


                <% if signed_in? %>
                    <div class="accordion" id="accordion2">
                      <!--
                       <span class="delete_task"><%= link_to 'Sort', current_user, method: :put %>
                       </span> -->
                 <% todo.each do |task|%>
                 <li class="list-group-item" id="task_<%= task.id%>">

                         
                         <div class="task-interest">
                         <% timeEff = calcTimeEfficiency(task, calcPriority(task)) %>
                         <%= timeEff %>
                         </div>

                          <%= link_to "✔", complete_task_path(task), class: "checkmark" %>
           
                          <div class="accordion-group">
                          
                          
                          <div class="accordion-heading">
                          <div class = "row">
                              <div class ="col-md-4">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target= "#<%= task.id %>">
                            
                                      <div class="task-name">
                                          <%= task.name %>
                                      </div>    
                            
                                      <div class="task-date">
                                          <%= task.duetime.strftime("%D %l:%M %P") %>
                                      </div>
              
                                  </a>


                                   <div id= "<%= task.id %>" class="accordion-body collapse">
                                          <div class="accordion-inner">
                                              <%= task.description %>
                                          </div>
                                   </div>
                                   
                              </div>
                              <div class="col-md-4">
                                  Priority of task: <%= calcPriority(task).round(2) %> 
                                  How interested I am: <%= task.interest %> 
                                  Length: <%= task.length %> 
                                  <span class="delete_task"><%= link_to 'delete', task, method: :delete, remote: true %></span>
            
                              </div>
                          
                          </div>
                          </div>
                          </div>
                  </li>
                 <% end %>
                    </div>
                  <% end %>                 
                </ul>

          </div>


        </div>  
        </div>
        </div>
      </div>

<div class="panel panel-default">
<div class = "accordionHead" id = "accordion3">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionHead" data-target= ".panel-body2">
    <div class="panel-heading ">
    Completed
    </div>
  </a>

  <div class="panel-body2 collapse">
    <div id = "completedtaskcontainer">
      <!--- main task container-->
      <ul class="list-group">
       
        <div class="accordion2">
            <!--
             <span class="delete_task"><%= link_to 'Sort', current_user, method: :put %>
             </span> -->

            <% completed.each do |task|%>
              <li class="list-group-item">
                <div class="task-interest">
               <% timeEff = calcTimeEfficiency(task, calcPriority(task)) %>
               <%= timeEff %>
               </div>

              <div class="accordion-group">
              <div class="accordion-heading">
                          <div class = "row">
                              <div class ="col-md-4">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target= "#<%= task.id %>">
                            
                                      <div class="task-name">
                                          <%= task.name %>
                                      </div>    
                            
                                      <div class="task-date">
                                          <%= task.duetime.strftime("%D %l:%M %P") %>
                                      </div>
              
                                  </a>

                                   <div id= "<%= task.id %>" class="accordion-body collapse">
                                          <div class="accordion-inner">
                                              <%= task.description %>
                                          </div>
                                   </div>
                              </div>
                              <div class="col-md-4">
                                  Priority of task: <%= calcPriority(task).round(2) %> 
                                  How interested I am: <%= task.interest %> 
                                  Length: <%= task.length %> 
                                  <span class="delete_task"><%= link_to 'delete', task, method: :delete%></span>
                              </div>
                          
                          </div>
            </div>
            </div>
              
        </li>

       
               <% end %>

        </div>

       
        
        
      </ul>
    </div>


</div>

</div>
</div>
</div>
</div>
</body>
</html>

