<html> 
<%= render "header" %>

<body style = "margin-top: 50px">



      <!-- Begin page content -->
      <div class="container">

      <div id = "page-container"> <!-- page container-->
      
      <div class ="main-container">

      
        <div class="page-header">
          <h2>Your schedule today</h2>
        </div>


  <div class="panel panel-default">

<div class = "accordionHead" id = "accordion3">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionHead" data-target= ".panel-body">
  
  <div class="panel-heading">
  <% Time::DATE_FORMATS[:short_ordinal]  = ->(time) { time.strftime("%B #{time.day.ordinalize}") }%>

    <%= Time.now.to_formatted_s(:short_ordinal) %>
  </div>

</a>

  
  <div class="panel-body">
    <div id = "taskcontainer">
      <!--- main task container-->
      <ul class="list-group">
      <% if signed_in? %>
      
               
          
          <div class="accordion" id="accordion2">
       <% current_user.tasks.each do |task|%>
       <li class="list-group-item">


               <div class="task-interest">
               <%= task.interest %>
               </div>


                <div class="accordion-group">

              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target= "#<%= task.id %>">
                  
                  <div class="task-name">
                    <%= task.name %>
                  </div>
                  
                  <div class="task-date">
                    <%= task.duetime.strftime("%l:%M %P") %>
                  </div>

               
              </div>
              
              <div id= "<%= task.id %>" class="accordion-body collapse">

                </a>
        
                
                <div class="accordion-inner">
                  <%= task.description %>
                  <span class="delete_task"><%= link_to 'delete', task, method: :delete%></span>
                </div>
              </div>
                    </div>
        </li>

        <% end %>
          </div>
       <% end %>
        
        
      </ul>
    </div>


</div>  
</div>
</div>

</div>


</body>
</html>

