<html> 
<%= render "header" %>

<body>

    <div id="wrap">


      <!-- Begin page content -->
      <div class="container">

      <div id = "page-container"> <!-- page container-->
      
      <div class ="main-container">

      
        <div class="page-header">
          <h2>Your schedule today</h2>
        </div>


  <div class="panel panel-default">
  <div class="panel-heading">
    <%= Time.now.inspect %>
  </div>
  <div class="panel-body">
    <div id = "taskcontainer">
      <!--- main task container-->
      <ul class="list-group">
       <% current_user.tasks.each do |task|%>
       <li class="list-group-item">
               
          
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse">
                  
                  <div class="task-name">
                    <%= task.name %>
                  </div>
                  
                  <div class="task-date">
                    <%= task.duetime %>

                  </div>
                  
                </a>
              </div>
              
              <div id="collapse" class="accordion-body collapse">
                
                <div class="accordion-inner">
                  <%= task.description %>
                </div>
              </div>
            </div>
          </div>
        </li>
        
       <% end %>
        <li class="list-group-item">
               
          
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse">
                  
                  <div class="task-name">
                    Package Pickup
                  </div>
                  
                  <div class="task-date">
                    5:45 PM 
                  </div>
                  
                </a>
              </div>
              
              <div id="collapse" class="accordion-body collapse">
                
                <div class="accordion-inner">
                  Pick up a package at the UC and send mail to Stefan and Kathy
                </div>

                
                
                
              </div>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>


</div>  
</div>
</div>



</body>
</html>

